{{ partial "header" . }}

<main class = "content-box">
  <div class="intro">
    <div>
      <img class="img-responsive" src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="Logo de FPGArgentina" style = "height:192px;width:192px;margin: 0 auto;">
    </div>
    <h2>{{ .Site.Params.description }}</h2>
    <h3>Actualmente contamos con {{ len (where .Site.RegularPages "Section" "==" "grupos") }} <a href="{{"/grupos/"|relLangURL }}">grupos</a> relevados</h3>

    <h4>Empresas</h4>
    <ul>
    {{ range (where .Site.RegularPages "Section" "==" "grupos" ) }}
      {{ if eq .Params.categoria "empresa" }}
        <li><a href="{{ .Site.BaseURL }}grupos/{{ .File.BaseFileName }}">{{ .Params.denominacion }}</a></li>
      {{ end }}
    {{ end }}
    </ul>

    <h4>Organismos / Instituciones</h4>
    <ul>
    {{ range (where .Site.RegularPages "Section" "==" "grupos" ) }}
      {{ if eq .Params.categoria "organismo" }}
        <li><a href="{{ .Site.BaseURL }}grupos/{{ .File.BaseFileName }}">{{ .Params.denominacion }}</a></li>
      {{ end }}
    {{ end }}
    </ul>

    <h4>Universidades</h4>
    <ul>
    {{ range (where .Site.RegularPages "Section" "==" "grupos" ) }}
      {{ if eq .Params.categoria "universidad" }}
        <li><a href="{{ .Site.BaseURL }}grupos/{{ .File.BaseFileName }}">{{ .Params.denominacion }}</a></li>
      {{ end }}
    {{ end }}
    </ul>

  </div>
</main>

{{ partial "footer" . }}
