<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
          {{ if .Title }}
            {{ .Title }}
          {{ else }}
            {{ .Params.denominacion }}
          {{ end }}
        </title>
        <link rel="canonical" href="{{ .Permalink }}">
        {{ partial "css" . }} {{ partial "js" . }} {{ hugo.Generator }}
        <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
        {{ if .Site.GoogleAnalytics }}
        
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());
          gtag('config', '{{ .Site.GoogleAnalytics }}');
        </script>
        {{ end }}

    <!-- Favicons - https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}img/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ .Site.BaseURL }}img/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ .Site.BaseURL }}img/favicon/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="{{ .Site.BaseURL }}img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Twitter Cards - https://xvrdm.github.io/2017/10/23/socialize-your-blogdown/ -->
    {{ if eq .RelPermalink "/" }}
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    <meta property="description" content="{{ .Site.Params.description }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" >
    {{ else }}
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:type" content="article">
      {{ if .Params.twitter_img }}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.twitter_img }}" >
      {{ else }}
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" >
      {{ end }}
    <meta property="description" content="{{ .Description }}">
    <meta property="og:description" content="{{ .Description }}">
    {{ end }}
    <meta name="twitter:creator" content="{{ .Params.twitterAuthor }}">
    <meta name="twitter:site" content="{{ .Params.twitterSite }}">
    
    </head>

    {{ if .Site.Params.MathJax | default true }}
    <!-- adds MathJax support -->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {{ end }}

    <body id = "bigbody">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand visible-xs" href="#">{{ .Title }}</a>
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    {{ if .Site.Menus.main }}
                        <ul class="nav navbar-nav">
                            {{ range sort .Site.Menus.main }}
                                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}
                    {{ if .Site.Menus.icon }}
                        <ul class="nav navbar-nav navbar-right">
                            {{ range sort .Site.Menus.icon }}
                                <li class="navbar-icon"><a href="{{ .URL }}"><i class="{{ .Name }}"></i></a></li>
                            {{ end }}
                            {{ partial "toggle"}}
                        </ul>
                    {{ end }}
                </div>
            </div>
        </nav>
